@font-face{
	font-family: 'Raleway';
	src:url(../fonts/11851.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face{
	font-family: 'Raleway ExtraBold';
	src:url(../fonts/11843.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face{
	font-family: 'Raleway Bold';
	src:url(../fonts/11841.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face{
	font-family: 'Roboto Regular';
	src:url(../fonts/10626.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}